@page "/static"

<PageTitle>Blazor Dynamic Images: Static Images</PageTitle>

<h3>Favorite Food</h3>
<img style="width: 300px" src="images/pizza.jpg" />
<img style="width: 300px" src="images/burger.jpg" />
<img style="width: 300px" src="images/salad.jpg" />